version: '3.4'

services:
  # backendBoy:
  #   image: backend
  #   build: .
  #   environment:
  #     NODE_ENV: production
  #     MONGO_END_POINT: 'mongodb://root:ipx515@mongo/?authSource=admin'
  #   ports:
  #     - 8081:3000

  
  mongo:
    image: mongo
    environment:
      - MONGO_INITDB_ROOT_USERNAME=${USERNAME}
      - MONGO_INITDB_ROOT_PASSWORD=${PASSWORD}
    ports:
      - 1000:27017
    volumes:
      - ./mongo_data:/data/db

  mongo-express:
    image: mongo-express
    container_name: mongo-express
    restart: always
    environment:
     - ME_CONFIG_MONGODB_ADMINUSERNAME=${USERNAME}
     - ME_CONFIG_MONGODB_ADMINPASSWORD=${PASSWORD}
     - ME_CONFIG_MONGODB_AUTH_DATABASE=${authdatabase}
    ports:
      - 8081:8081
    depends_on: 
      - mongo